@font-face {
    font-family: "Shabnam";
    src: url("public/fonts/Shabnam-Light.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Shabnam";
    src: url("public/fonts/Shabnam-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
